/*Style.css*/
/*BODY*/
body {
    background-color: #000;
    font-family: "Poppins", sans-serif;
}

/* Evita selección de texto y resaltado en móviles */
body, a, button, input, div {
    -webkit-touch-callout: none;  /* iOS Safari */
    -webkit-user-select: none;    /* Chrome/Safari/Opera */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE/Edge */
    user-select: none;            /* Bloquea selección de texto */
    -webkit-tap-highlight-color: transparent; /* Elimina resaltado azul/morado en móviles */
}
/*NavBar Design*/
.navbar {
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: start;
    font-style: normal;
    font-weight: bolder;
    color: white;
}

.nav-links li {
    padding: 0px 10px;
    transition: color 0.1s ease;
}

.nav-links li:hover {
    color: #969696;
    font-style: unset;
    cursor: pointer;
}

/*Background & Fade*/
.background {
    background-image:
        linear-gradient(to bottom,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1)),
        url("../../images/backgroundSpidermanAcross.png");
    /* Imagen de fondo */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr;
    text-align: center;
}

.info {
    display: grid;
    justify-content: start;
}

.contain {
    color: white;
    padding: 20px;
}

.contain ul{
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.contain li {
    padding: 0px 10px;
    font-size: small;
}

.contain p {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
    font-size: smaller;
    text-align: center;
}

.contain img {
    width: 65%;
}

/*Buttons on the start*/
.contain_btn {
    display: flex;
    justify-content: center;
    padding: 1.5vh;
}

/*Boton Play*/
.principal_btn {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-template-rows: 1fr;
    align-items: center;
    padding: 8px 30px;
    margin: 1%;
    border-radius: 5px;
    cursor: pointer;
}

.principal_btn a {
    white-space: nowrap;
}

.principal_btn img {
    width: 25px;
    margin-right: 8px;
}

#info {
    background-color: #545454;
    transition: background-color 0.2s ease;
    justify-content: center;
    align-items: center;
    color: white;
}

#info:hover {
    background-color: #252525;
}

#info:active {
    background-color: #000;
}

#play {
    background-color: #ffffff;
    color: #000;
    transition: background-color 0.2s ease;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#play:hover {
    background-color: #bbbbbb;
}

#play:active {
    background-color: #757575;
}
